
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo>i{
    margin: 0 20px;
    color: grey;
}

.logo>img{
    height: 20px;
}

.logo_name{
    margin-left: 5px;
    font-family: Helvetica,Arial,  sans-serif;
}

.input_sec{
    background-color: rgb(202, 200, 200);
}

.input_sec>input{    
    width: 30vw;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgb(148, 141, 141);
}

.input_sec>i{
    padding: 0 10px;
}

.input_sec>input:focus{
    outline: 1px solid rgb(74, 74, 126);
}

.search{
    display: flex;
    align-items: center;
}

.search>i{
    margin-left: 5px;
    padding: 8px 12px;
    background-color: rgb(236, 235, 235);
    padding: 4px;
    border-radius: 50%;
}

.button{
    display: flex;
    align-items: center;
}

.button>i{
    margin-right: 25px;
    font-size: 20px;
    color: rgb(189, 182, 182);
}
